# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
dist
.next
out

# Environment (contains sensitive data)
.env
.env.*
!.env.example

# Files not required for production
README.md
CHANGELOG.md
docker-compose.yml
docker-compose.*.yml
Dockerfile
.eslintrc.cjs
.prettierrc
*.log

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output
